<h1>Listing Waiters</h1>

<%=  link_to "Add new Waiters", new_user_path %>

<ul>
  <% @users.each do |user| %>

    <li><%= link_to user.username, profile_path %></li>

  <% end %>
</ul>



<%= link_to 'New User', new_user_path %>
