<h1>Welcome <%= @user.username %></h1>

<h3>@@@This is profile page</h3>
<p>
  @@@add info about my name, performance and other stuff, do not forget to link the photo
</p>


<%= button_to "Log Out", '/sessions', method: :delete %>
