<div id="welcome_screen">
<h3>Welcome to </h3>
<h1>RESTaurantApp</h1>
<h3>by orbitka</h3>

</div>
<hr>
<p>NOTE:<br>
  In this demo version you have the possibility to add new user directly from the main screen, so you can play with the data inside of the app. In the final version only admin will be able to add new users.
</p>

<hr>
<h4><%=  link_to "Add new Waiter", new_user_path %></h4>
<hr>

<img src="/assets/lbdm-general-2001.jpg" alt="restaurant-entrance" />
