<div id="welcome_screen">
<h3>Welcome to </h3>
<h1>RESTaurantApp</h1>
<h3>by orbitka</h3>

</div>

<p>NOTE:
  <hr>
  In this demo version you have the possibility to add the user from the main screen, so you can play with the data inside of the app.
  <br>
  In the final version only verified users will be able to add new users.
</p>

  <hr>
    <%=  link_to "Add new Waiter", new_user_path %>
  <hr>
